# Lines starting with the # character are comments

# Percentage division of total prize money.
# Must add up to 100%
prize_gold=40
prize_silver=30
prize_bronze=20
prize_biggest=10

# Start every contest with a base amount of cash
# Set to 0 to disable
start_amount=50

# Allow other people to increase the pot
#allow_topup=true

# Uncomment to add a custom hovertext subtitle
#sub_hover=Welcome at xyz

# Currency symbol (purely aestethic)
currency=G